body {
    font-family: Arial, sans-serif;
}

.blockquote {
    background-color: #f1fefc;
    border-left: 4px solid #ffd700;
    padding: 1rem;
    font-size: 0.95rem;
    border-radius: 5px;
}

.underline::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #ffd700;
    margin: 4px auto 0 auto;
}